<footer class="text-center text-white" style="background-color: #e1dfd79a;">
    <!-- Grid container -->
    <div class="container pt-2">
      <!-- Section: Social media -->
      <section class="mb-2">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="light"
          ><i class="fab fa-facebook-f"style="color: #cb9331 "></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="light"
          ><i class="fab fa-twitter"style="color: #cb9331 "></i
        ></a>
  
        <!-- Google -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="light"
          ><i class="fab fa-google"style="color: #cb9331 " ></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="light"
          ><i class="fab fa-instagram "style="color: #cb9331 "></i
        ></a>
  
        
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-dark p-2" style="background-color:#f3e9c3;">
      © 2020 Copyright:
      <a style="color: rgb(84, 138, 105);" href="">MasterCraft.com</a>
    </div>
    <!-- Copyright -->
  </footer>